{% extends 'base.html' %}

{% block title %}Listado de peliculas{% endblock %}

{% block content %}
<h1>Listado de peliculas</h1>
<ul>
    {% for pelicula in peliculas %}
    <li> {{pelicula.titulo}} {{pelicula.director}} </li>
    {% endfor %}
</ul>
{% endblock %}







<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de peliculas</title>
</head>
<body>
    {% for pelicula in peliculas %}
    <li> {{pelicula.titulo}} {{pelicula.director}} </li>
    {% endfor %}
</body>
</html>
  -->